.Homepage{
    border: solid red 1px;
    display: flex;
    flex-direction: column;
    background-color: #FCFAFA;
    align-items: center;
    
}

.Homepage button{
    color: white;
    background-color: #D1483B;
    height: 70px;
    width: 500px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 30px;
}