


.user-interactions{
    border: solid /1px black;
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    /* margin-bottom: 20px; */
}

.user-inputs{
    bord/er: solid 1px black;
    height: 300px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.user-inputs div{
    margin-bottom: 20px;
}

.addbin .user-inputs input{
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border: #CF4940 solid 2px;
    font-size: 20px;
}






.add_button{
    background-color: #4CF79E;
    height: 50px;
    width: 500px;
    border-radius: 50px;
    font-size: 30px;
}