
.bin{
    height: 85vh;
    width: 100%;
}

.inner-bin{
    height: 60vh;
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 80px;
}

.image{
    border: solid indigo 2px;
    height: 300px;
    width: 300px;
}

.interactions{
    height: 400px;
    width: 700px;
    display: flex;
    flex-direction: column;
}

.inputs{
    height: 75%;
    width: 100%;
    flex-direction: column;
    display: flex;
}

.inputs div{
    margin-bottom: 25px;
}

.inputs input{
    border-radius: 5px;
    height: 70px;
    width: 100%;
    font-size: 30px;
    font: bold;
}

.buttons{
    display: flex;
    justify-content: space-between;
    height: 25%;
    width: 100%;
}

.buttons .initial button{
    height: 80px;
    width: 250px;
    background-color: #D7D7D7;
    border-radius: 7px;
    font-size: 30px;
}


.buttons .save button{
    height: 80px;
    width: 250px;
    background-color: #4CF79E;
    border-radius: 40px;
    font-size: 30px;
}




