
.header{
    border: solid 1px black;
    height: 13vh;
    background-color: #A92B20;
    display: flex;
    align-items: center;
}

.header button{
    color: black;
    height: 100%;
    width: 100px;
    background-image: url('../../logo.png');
    border: none;
}

.header .shelf{
    background-color: #D1483B;
    width: 200px;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    font-size: 30px;
    padding-left: 15px;
}

.header .bin{
    background-color: #EB6C5E;
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    align-items: center;
    font-size: 30px;
    padding-left: 15px;
}
