.header{
    background-color: #A92B20;
    height: 110px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    color: white;
    font-size: 33px
}



.header .logo{
    height: 100%;
    width: 30%;
    background-color: #A92B20;
    position: absolute;
}

.header .logo img{
    height: 100%;
    width: 150px;
}

.header .shelf{
    height: 100%;
    width: 90%;
    background-color: #D1483B;
    position: absolute;
    right: 0;
    box-sizing: border-box;
}

.header .shelf p{
    padding-left: 20px;
}

.header .bin{
    height: 100%;
    width: 60%;
    background-color:#EB6C5E;
    position: absolute;
    right: 0;
    box-sizing: border-box;

}

.header .bin p{
    padding-left: 20px;
}





