.Shelf .Header{
    color: white;
    border: solid 1px black;
    height: 12vh;
    width: 100%;
    background-color: #A92B20;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Shelf{
    display: flex;
    flex-direction: column;
    background-color: #FCFAFA;
    align-items: center;
    height: 75vh;
}

.button{
    height: 70px;
    width: 500px;
    margin-top: 10px;
    border-radius: 8px;
    font-size: 30px;
}

.bin_button{
    background-color: #D1483B;
    color: white;
}

.add_inventory{
    background-color: #FDB8B0;
    color: black;
}
